In [2]:
import pandas as pd
from sklearn import tree

In [3]:
ds = pd.read_csv("dummy_data.csv")

In [4]:
ds

,age,gender,time_spent,platform,interests,location,demographics,profession,income,indebt,isHomeOwner,Owns_Car
0,56,male,3,Instagram,Sports,United Kingdom,Urban,Software Engineer,19774,True,False,False
1,46,female,2,Facebook,Travel,United Kingdom,Urban,Student,10564,True,True,True
2,32,male,8,Instagram,Sports,Australia,Sub_Urban,Marketer Manager,13258,False,False,False
3,60,non-binary,5,Instagram,Travel,United Kingdom,Urban,Student,12500,False,True,False
4,25,male,1,Instagram,Lifestlye,Australia,Urban,Software Engineer,14566,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
995,22,female,8,Instagram,Lifestlye,United Kingdom,Rural,Marketer Manager,18536,False,True,False
996,40,non-binary,6,YouTube,Travel,United Kingdom,Rural,Software Engineer,12711,True,False,False
997,27,non-binary,5,YouTube,Travel,United Kingdom,Rural,Student,17595,True,False,True
998,61,female,4,YouTube,Sports,Australia,Sub_Urban,Marketer Manager,16273,True,True,False
999,19,female,8,YouTube,Travel,Australia,Rural,Student,16284,False,True,False

In [5]:
ds1 = ds
ds1.drop([990,991,992,993,994,995,996,997,998,999])

,age,gender,time_spent,platform,interests,location,demographics,profession,income,indebt,isHomeOwner,Owns_Car
0,56,male,3,Instagram,Sports,United Kingdom,Urban,Software Engineer,19774,True,False,False
1,46,female,2,Facebook,Travel,United Kingdom,Urban,Student,10564,True,True,True
2,32,male,8,Instagram,Sports,Australia,Sub_Urban,Marketer Manager,13258,False,False,False
3,60,non-binary,5,Instagram,Travel,United Kingdom,Urban,Student,12500,False,True,False
4,25,male,1,Instagram,Lifestlye,Australia,Urban,Software Engineer,14566,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
985,55,non-binary,3,YouTube,Lifestlye,United States,Sub_Urban,Software Engineer,17174,True,False,False
986,54,male,3,YouTube,Travel,Australia,Rural,Student,15114,False,True,True
987,28,female,9,Facebook,Travel,Australia,Sub_Urban,Software Engineer,14662,False,True,True
988,53,male,4,Facebook,Lifestlye,United Kingdom,Sub_Urban,Student,14326,True,False,False
989,30,female,7,Instagram,Lifestlye,Australia,Sub_Urban,Software Engineer,19065,False,False,True

In [6]:
ds2=ds

ds2 = ds2.drop([x for x in range(990)])

In [7]:
dsTest = ds2.loc[:,["age","time_spent","income"]]
Test=dsTest.values.tolist()
dsTest

     age  time_spent  income
990   60           9   14335
991   20           7   18281
992   50           9   18648
993   23           3   19196
994   27           4   15494
995   22           8   18536
996   40           6   12711
997   27           5   17595
998   61           4   16273
999   19           8   16284

In [8]:
dsx = ds1.loc[:,["age","time_spent","income"]]

In [9]:
dsy = ds1.loc[:,["indebt"]]

In [10]:
X = dsx.values.tolist()
Y = dsy.values.tolist()

In [11]:
X

[[56, 3, 19774],
 [46, 2, 10564],
 [32, 8, 13258],
 [60, 5, 12500],
 [25, 1, 14566],
 [38, 3, 19179],
 [56, 8, 16881],
 [36, 4, 13636],
 [40, 7, 16030],
 [28, 2, 10223],
 [28, 7, 16297],
 [41, 5, 10350],
 [53, 5, 17314],
 [57, 6, 11928],
 [41, 9, 17743],
 [20, 6, 18540],
 [39, 8, 14732],
 [19, 7, 11017],
 [41, 9, 12226],
 [61, 4, 17206],
 [47, 2, 17170],
 [55, 7, 16207],
 [19, 6, 12419],
 [38, 1, 16240],
 [50, 9, 11893],
 [29, 9, 15322],
 [39, 2, 17718],
 [61, 3, 16878],
 [42, 5, 11125],
 [44, 5, 13117],
 [59, 1, 14161],
 [45, 8, 14042],
 [33, 8, 14433],
 [32, 4, 18638],
 [64, 7, 12658],
 [61, 3, 13483],
 [20, 6, 12944],
 [54, 9, 17210],
 [24, 1, 17653],
 [38, 5, 18787],
 [26, 4, 11986],
 [56, 8, 11074],
 [35, 1, 14305],
 [21, 9, 13007],
 [42, 6, 10969],
 [31, 4, 18772],
 [26, 9, 12824],
 [43, 5, 11211],
 [19, 5, 10229],
 [37, 5, 14284],
 [45, 1, 13185],
 [64, 1, 10501],
 [24, 8, 10048],
 [61, 8, 13566],
 [25, 6, 13055],
 [64, 4, 18880],
 [52, 2, 10386],
 [31, 2, 10969],
 [34, 9, 19197],
 [53, 5, 15820],
 [57, 4, 13052],
 [21, 1, 17397],
 [19, 7, 12302],
 [23, 3, 12283],
 [59, 6, 19799],
 [21, 5, 14366],
 [46, 5, 10122],
 [35, 5, 16799],
 [43, 1, 19472],
 [61, 1, 13727],
 [51, 3, 18450],
 [27, 4, 19139],
 [53, 5, 14958],
 [31, 2, 10524],
 [48, 8, 19079],
 [32, 2, 18399],
 [25, 9, 10148],
 [31, 2, 18001],
 [40, 9, 10437],
 [57, 7, 13749],
 [38, 8, 18186],
 [33, 2, 14453],
 [62, 7, 15336],
 [35, 6, 14551],
 [64, 4, 12823],
 [41, 7, 15728],
 [43, 4, 18677],
 [42, 2, 18391],
 [62, 7, 11982],
 [58, 8, 16996],
 [46, 2, 19663],
 [32, 5, 12311],
 [62, 1, 17225],
 [18, 7, 19713],
 [42, 8, 10604],
 [24, 6, 18175],
 [26, 5, 15785],
 [41, 6, 19609],
 [18, 2, 14597],
 [61, 1, 17759],
 [25, 7, 17532],
 [41, 7, 18740],
 [28, 2, 10838],
 [34, 2, 13815],
 [25, 1, 10847],
 [52, 8, 14709],
 [52, 8, 14507],
 [50, 1, 16575],
 [22, 8, 14773],
 [59, 9, 14468],
 [56, 4, 15192],
 [58, 1, 13320],
 [45, 1, 14698],
 [24, 3, 14311],
 [26, 5, 13673],
 [25, 5, 11564],
 [29, 9, 11840],
 [51, 2, 16058],
 [50, 2, 17131],
 [40, 6, 10726],
 [41, 9, 19436],
 [54, 1, 16697],
 [52, 9, 19257],
 [61, 9, 10282],
 [57, 9, 11081],
 [39, 5, 13885],
 [44, 9, 12881],
 [52, 4, 12970],
 [18, 2, 19344],
 [52, 6, 16985],
 [54, 4, 10947],
 [64, 6, 14760],
 [31, 3, 19909],
 [20, 6, 10066],
 [18, 2, 18828],
 [22, 2, 18505],
 [43, 9, 10564],
 [31, 7, 19793],
 [56, 3, 19017],
 [44, 1, 13670],
 [26, 8, 19217],
 [32, 6, 12251],
 [32, 7, 10804],
 [43, 9, 14631],
 [59, 5, 19583],
 [30, 1, 11235],
 [49, 7, 16720],
 [56, 5, 16906],
 [49, 3, 16016],
 [21, 9, 13549],
 [47, 1, 17938],
 [54, 1, 14141],
 [40, 1, 16966],
 [56, 3, 19546],
 [62, 6, 15335],
 [32, 3, 15077],
 [60, 8, 15611],
 [46, 2, 18089],
 [53, 9, 12892],
 [30, 3, 15577],
 [49, 5, 13618],
 [24, 8, 11559],
 [39, 2, 16683],
 [45, 6, 11507],
 [19, 5, 12063],
 [59, 9, 13642],
 [62, 5, 12000],
 [23, 2, 11294],
 [45, 5, 14065],
 [45, 4, 18014],
 [61, 7, 19945],
 [61, 6, 11603],
 [37, 2, 11322],
 [47, 5, 15956],
 [28, 7, 12441],
 [45, 7, 11098],
 [42, 5, 15073],
 [56, 9, 19697],
 [50, 4, 19318],
 [18, 3, 18488],
 [44, 4, 13787],
 [30, 5, 12096],
 [58, 6, 12208],
 [20, 3, 15988],
 [56, 2, 10175],
 [23, 4, 17169],
 [25, 5, 16014],
 [44, 4, 11667],
 [26, 3, 18867],
 [54, 8, 11823],
 [50, 4, 15147],
 [59, 2, 11356],
 [61, 2, 13072],
 [41, 1, 13259],
 [32, 4, 16199],
 [49, 9, 10546],
 [49, 7, 15231],
 [41, 7, 17965],
 [58, 7, 12083],
 [29, 8, 12040],
 [56, 1, 14534],
 [19, 8, 11752],
 [20, 4, 19807],
 [54, 4, 11849],
 [34, 4, 12642],
 [19, 6, 11600],
 [19, 7, 14402],
 [45, 6, 13799],
 [40, 1, 10618],
 [54, 8, 11132],
 [49, 7, 15491],
 [50, 6, 15795],
 [18, 6, 17633],
 [36, 5, 11487],
 [19, 6, 17848],
 [61, 9, 15009],
 [43, 9, 19749],
 [49, 8, 12113],
 [23, 9, 11044],
 [49, 8, 12431],
 [21, 8, 17979],
 [28, 1, 11582],
 [34, 5, 11308],
 [55, 4, 14917],
 [41, 2, 18793],
 [22, 8, 11620],
 [51, 3, 17503],
 [23, 4, 14766],
 [39, 7, 15362],
 [28, 9, 15192],
 [33, 2, 16622],
 [50, 3, 16093],
 [26, 4, 16704],
 [23, 1, 10100],
 [33, 7, 16657],
 [46, 2, 15875],
 [20, 5, 14271],
 [37, 1, 10237],
 [53, 3, 17226],
 [36, 2, 18032],
 [43, 1, 15218],
 [20, 7, 14025],
 [36, 5, 16073],
 [37, 1, 12542],
 [49, 6, 11537],
 [24, 5, 10754],
 [58, 3, 17396],
 [50, 7, 17823],
 [57, 9, 15507],
 [56, 9, 14235],
 [35, 9, 10540],
 [57, 2, 15510],
 [18, 3, 18461],
 [28, 7, 17926],
 [45, 5, 15131],
 [42, 2, 18697],
 [40, 3, 11129],
 [48, 6, 13145],
 [47, 7, 18553],
 [59, 9, 13720],
 [52, 1, 19648],
 [24, 7, 14067],
 [33, 8, 14195],
 [43, 3, 19873],
 [19, 4, 19244],
 [18, 6, 17281],
 [29, 7, 12509],
 [22, 4, 15016],
 [54, 8, 16533],
 [49, 5, 14727],
 [26, 1, 10681],
 [58, 4, 13932],
 [52, 3, 15560],
 [36, 9, 14016],
 [33, 8, 17339],
 [20, 1, 10719],
 [37, 6, 10074],
 [41, 9, 19485],
 [50, 7, 14157],
 [41, 4, 18511],
 [28, 1, 12149],
 [25, 2, 19644],
 [53, 5, 19747],
 [55, 5, 16713],
 [57, 8, 14207],
 [37, 6, 17141],
 [52, 8, 18652],
 [42, 2, 19078],
 [52, 3, 13936],
 [42, 6, 19307],
 [46, 3, 11075],
 [35, 6, 13876],
 [63, 6, 14615],
 [35, 2, 17265],
 [19, 7, 16379],
 [52, 2, 19118],
 [33, 6, 14652],
 [58, 1, 16792],
 [53, 3, 19247],
 [50, 2, 17456],
 [21, 7, 14674],
 [50, 4, 10541],
 [31, 8, 12161],
 [38, 6, 12251],
 [37, 4, 19244],
 [25, 5, 14569],
 [24, 9, 12744],
 [20, 7, 16041],
 [34, 9, 14675],
 [50, 7, 11560],
 [29, 1, 11164],
 [39, 8, 15419],
 [39, 4, 12722],
 [63, 3, 10470],
 [47, 7, 19608],
 [55, 3, 11468],
 [55, 8, 17925],
 [62, 6, 10808],
 [25, 5, 18363],
 [44, 4, 16719],
 [44, 8, 15073],
 [51, 8, 18012],
 [38, 1, 11645],
 [47, 9, 18249],
 [50, 5, 11129],
 [45, 4, 11353],
 [64, 6, 10767],
 [50, 6, 13895],
 [22, 2, 18874],
 [36, 8, 13454],
 [21, 7, 17329],
 [52, 1, 11790],
 [34, 5, 19669],
 [61, 6, 10885],
 [45, 4, 17734],
 [47, 2, 13906],
 [46, 4, 14492],
 [63, 1, 19730],
 [23, 7, 12073],
 [52, 2, 10312],
 [58, 2, 16269],
 [54, 9, 15317],
 [41, 5, 10810],
 [46, 2, 16841],
 [63, 9, 12032],
 [48, 9, 19699],
 [52, 1, 17129],
 [50, 3, 12705],
 [38, 4, 18788],
 [49, 7, 12147],
 [40, 4, 10615],
 [50, 2, 10947],
 [20, 7, 15677],
 [35, 6, 14651],
 [42, 3, 17866],
 [59, 6, 12013],
 [48, 6, 13697],
 [20, 5, 10490],
 [57, 4, 14350],
 [63, 1, 12428],
 [41, 6, 14987],
 [49, 2, 18733],
 [64, 3, 19479],
 [39, 8, 19825],
 [40, 6, 14920],
 [19, 3, 12926],
 [44, 7, 19544],
 [59, 4, 17282],
 [19, 9, 14376],
 [43, 5, 19490],
 [34, 3, 14868],
 [57, 2, 16986],
 [50, 2, 16862],
 [26, 3, 14423],
 [60, 2, 16870],
 [56, 4, 18159],
 [46, 2, 12073],
 [59, 9, 16170],
 [43, 2, 10701],
 [52, 9, 18113],
 [42, 6, 16825],
 [41, 1, 17867],
 [30, 4, 14264],
 [24, 1, 17968],
 [53, 6, 18146],
 [62, 4, 17776],
 [37, 3, 18558],
 [18, 3, 18719],
 [25, 9, 14886],
 [63, 6, 13935],
 [33, 9, 14619],
 [31, 5, 15191],
 [29, 2, 16875],
 [40, 8, 17856],
 [32, 5, 15401],
 [45, 2, 13022],
 [51, 4, 15738],
 [19, 9, 15984],
 [49, 4, 11770],
 [40, 4, 19969],
 [39, 2, 18989],
 [42, 6, 13215],
 [39, 2, 16694],
 [39, 7, 12976],
 [59, 3, 13737],
 [23, 3, 19903],
 [32, 5, 10752],
 [60, 3, 11392],
 [54, 2, 16789],
 [50, 9, 10677],
 [25, 2, 10105],
 [61, 2, 14753],
 [61, 8, 11946],
 [22, 9, 15544],
 [56, 7, 11095],
 [21, 3, 16985],
 [23, 9, 11782],
 [62, 3, 14541],
 [49, 5, 13257],
 [47, 9, 16213],
 [64, 3, 14869],
 [52, 7, 11561],
 [57, 1, 14006],
 [33, 4, 19867],
 [30, 4, 19314],
 [59, 7, 13981],
 [47, 8, 19493],
 [36, 1, 15682],
 [34, 5, 15782],
 [36, 7, 10943],
 [45, 4, 14550],
 [43, 4, 19137],
 [54, 4, 10600],
 [43, 6, 16376],
 [40, 7, 19609],
 [26, 2, 11524],
 [29, 5, 13766],
 [18, 4, 10250],
 [18, 3, 19736],
 [64, 7, 10078],
 [51, 6, 13123],
 [49, 7, 19089],
 [42, 5, 17064],
 [57, 6, 18417],
 [62, 5, 11209],
 [18, 7, 15153],
 [33, 2, 14898],
 [56, 5, 12178],
 [22, 6, 17610],
 [39, 6, 18895],
 [46, 5, 12544],
 [20, 7, 15522],
 [29, 8, 12370],
 [43, 7, 13281],
 [33, 5, 14710],
 [54, 1, 10328],
 [39, 5, 15579],
 [46, 2, 14228],
 [31, 5, 16794],
 [45, 5, 10120],
 [22, 2, 16749],
 [64, 5, 10964],
 [47, 4, 14224],
 [63, 1, 13675],
 [22, 3, 15694],
 [29, 1, 12076],
 [33, 5, 16865],
 [43, 4, 15643],
 [43, 7, 18524],
 [38, 5, 15249],
 [56, 4, 11316],
 [53, 2, 11196],
 [50, 4, 13170],
 [47, 2, 19621],
 [54, 8, 10355],
 [40, 3, 19718],
 [27, 9, 10028],
 [22, 4, 11013],
 [53, 6, 19019],
 [51, 5, 12024],
 [48, 1, 18490],
 [27, 9, 15839],
 [36, 1, 15791],
 [49, 8, 10754],
 [18, 9, 18961],
 [22, 9, 13735],
 [62, 1, 11238],
 [21, 2, 11906],
 [33, 1, 17399],
 [41, 2, 17961],
 [33, 8, 19756],
 [19, 5, 19410],
 [45, 7, 14601],
 [49, 2, 19549],
 [44, 8, 11460],
 [37, 6, 17669],
 [41, 8, 11416],
 [29, 1, 17766],
 [52, 1, 11428],
 [50, 7, 14378],
 [50, 8, 17529],
 [60, 3, 14474],
 [54, 5, 13071],
 [29, 1, 10555],
 [20, 7, 18547],
 [18, 5, 11563],
 [50, 8, 11040],
 [57, 8, 12686],
 [27, 9, 12553],
 [60, 7, 11779],
 [61, 1, 10075],
 [46, 3, 14326],
 [30, 8, 15835],
 [29, 3, 15057],
 [48, 8, 12349],
 [63, 1, 12773],
 [19, 5, 12262],
 [52, 4, 13229],
 [40, 5, 10392],
 [34, 8, 11108],
 [43, 4, 14362],
 [25, 4, 15188],
 [46, 3, 18802],
 [43, 7, 15057],
 [27, 3, 13998],
 [43, 3, 18864],
 [51, 5, 16566],
 [58, 5, 13677],
 [24, 6, 15796],
 [21, 8, 16363],
 [62, 6, 18123],
 [28, 1, 18222],
 [46, 8, 17690],
 [53, 8, 11400],
 [42, 9, 14071],
 [38, 9, 18808],
 [53, 2, 12786],
 [27, 2, 17169],
 [54, 3, 10870],
 [26, 1, 14196],
 [41, 4, 19604],
 [52, 4, 12739],
 [52, 9, 10940],
 [53, 9, 10340],
 [35, 9, 17422],
 [56, 7, 14133],
 [49, 2, 10659],
 [41, 5, 19752],
 [40, 4, 13457],
 [49, 8, 19848],
 [54, 2, 12975],
 [29, 6, 19241],
 [30, 5, 10453],
 [40, 2, 19896],
 [42, 1, 18184],
 [52, 8, 15442],
 [58, 2, 10818],
 [47, 7, 14868],
 [34, 9, 10012],
 [37, 9, 17727],
 [42, 8, 10920],
 [39, 9, 14920],
 [30, 2, 12418],
 [36, 6, 19506],
 [53, 4, 16475],
 [29, 4, 12017],
 [58, 5, 17957],
 [36, 3, 19420],
 [29, 1, 14792],
 [26, 8, 16830],
 [24, 5, 12434],
 [45, 3, 12868],
 [31, 7, 11438],
 [48, 7, 13543],
 [36, 1, 11781],
 [64, 9, 16343],
 [33, 2, 12263],
 [22, 5, 10211],
 [52, 5, 18699],
 [29, 8, 16159],
 [42, 8, 17027],
 [38, 7, 10331],
 [53, 7, 16860],
 [40, 6, 18044],
 [33, 6, 18169],
 [56, 9, 18742],
 [62, 6, 15720],
 [59, 2, 19133],
 [56, 2, 10727],
 [31, 5, 14975],
 [48, 4, 13243],
 [22, 2, 10648],
 [52, 3, 15095],
 [40, 7, 16614],
 [46, 8, 17135],
 [60, 6, 11009],
 [28, 5, 11550],
 [35, 1, 18995],
 [64, 8, 17492],
 [29, 3, 13401],
 [26, 6, 17447],
 [27, 3, 15424],
 [61, 7, 14241],
 [34, 7, 13161],
 [55, 9, 14155],
 [24, 5, 17478],
 [63, 8, 18719],
 [30, 8, 19215],
 [57, 1, 16617],
 [59, 5, 15660],
 [26, 3, 18624],
 [44, 1, 11176],
 [19, 4, 17956],
 [22, 8, 18592],
 [46, 3, 12233],
 [54, 2, 14700],
 [55, 9, 15906],
 [36, 5, 17860],
 [25, 7, 17526],
 [62, 2, 15559],
 [18, 9, 16732],
 [39, 9, 12513],
 [34, 4, 17830],
 [24, 4, 19965],
 [42, 6, 16944],
 [62, 6, 17910],
 [21, 1, 15649],
 [53, 9, 11096],
 [23, 2, 19120],
 [48, 5, 11951],
 [36, 9, 19746],
 [61, 4, 19186],
 [56, 3, 17799],
 [44, 7, 18804],
 [27, 6, 10595],
 [43, 8, 17875],
 [36, 3, 19033],
 [56, 5, 14439],
 [20, 4, 15972],
 [62, 4, 10858],
 [30, 4, 15519],
 [45, 8, 17385],
 [37, 6, 18636],
 [45, 3, 19980],
 [25, 5, 14317],
 [58, 6, 13454],
 [56, 5, 11030],
 [18, 6, 19487],
 [20, 8, 17906],
 [30, 7, 11447],
 [45, 5, 12850],
 [42, 6, 18106],
 [50, 4, 17151],
 [55, 9, 19503],
 [23, 4, 16952],
 [61, 1, 14055],
 [62, 7, 15402],
 [49, 7, 19281],
 [62, 4, 11672],
 [64, 3, 14532],
 [38, 8, 14924],
 [33, 5, 16085],
 [38, 7, 17734],
 [28, 4, 14864],
 [54, 4, 19316],
 [53, 8, 11221],
 [52, 8, 12860],
 [36, 2, 18428],
 [37, 2, 19336],
 [35, 3, 13253],
 [64, 3, 13782],
 [58, 1, 16957],
 [31, 3, 10766],
 [32, 6, 12681],
 [48, 8, 17710],
 [18, 6, 17482],
 [20, 5, 15086],
 [33, 4, 17964],
 [40, 3, 12665],
 [28, 4, 19951],
 [29, 7, 13513],
 [27, 1, 10495],
 [49, 7, 15822],
 [33, 1, 12072],
 [25, 2, 17795],
 [55, 4, 18529],
 [29, 1, 13949],
 [41, 9, 16033],
 [45, 6, 18328],
 [25, 1, 12555],
 [45, 1, 16370],
 [53, 6, 14415],
 [43, 4, 15959],
 [25, 4, 19107],
 [45, 6, 15993],
 [45, 7, 15021],
 [54, 9, 12907],
 [58, 5, 12914],
 [53, 9, 13870],
 [44, 4, 19190],
 [34, 2, 15085],
 [26, 3, 16546],
 [50, 1, 10395],
 [37, 6, 10938],
 [30, 6, 19828],
 [45, 1, 12510],
 [46, 3, 14636],
 [30, 5, 11649],
 [63, 3, 13690],
 [52, 3, 13435],
 [23, 3, 13201],
 [35, 5, 14179],
 [22, 5, 18405],
 [64, 4, 13237],
 [42, 1, 13862],
 [19, 5, 10058],
 [27, 5, 14938],
 [47, 4, 12971],
 [62, 6, 19719],
 [22, 4, 18314],
 [50, 7, 19628],
 [18, 7, 19354],
 [35, 2, 13345],
 [49, 3, 12486],
 [64, 1, 10561],
 [28, 8, 13981],
 [38, 9, 16261],
 [43, 4, 11737],
 [42, 6, 19096],
 [39, 9, 13554],
 [44, 6, 19918],
 [30, 9, 19126],
 [50, 4, 17095],
 [51, 8, 18266],
 [58, 9, 10294],
 [52, 4, 18212],
 [18, 5, 19230],
 [38, 8, 15330],
 [23, 6, 14655],
 [45, 7, 11109],
 [34, 3, 13771],
 [22, 7, 18563],
 [48, 8, 16123],
 [22, 6, 17647],
 [55, 9, 11174],
 [20, 6, 11164],
 [40, 9, 19284],
 [54, 4, 19475],
 [54, 8, 19037],
 [27, 4, 18712],
 [27, 2, 14466],
 [36, 9, 15538],
 [34, 5, 17111],
 [38, 4, 18434],
 [31, 2, 12800],
 [26, 1, 14607],
 [63, 7, 17262],
 [18, 6, 11541],
 [62, 2, 12765],
 [30, 8, 14491],
 [21, 4, 13083],
 [18, 8, 15356],
 [57, 7, 11857],
 [49, 5, 10769],
 [51, 8, 11422],
 [45, 9, 18598],
 [48, 5, 12972],
 [25, 5, 11872],
 [56, 2, 15599],
 [43, 5, 12269],
 [51, 3, 15275],
 [20, 7, 14749],
 [29, 5, 16571],
 [18, 8, 19373],
 [61, 1, 15072],
 [22, 3, 19631],
 [47, 3, 15463],
 [47, 9, 17450],
 [34, 5, 18420],
 [64, 9, 13959],
 [40, 9, 11313],
 [32, 1, 17847],
 [54, 2, 11070],
 [38, 5, 19166],
 [31, 4, 19930],
 [19, 9, 13285],
 [28, 7, 18949],
 [56, 6, 13095],
 [55, 7, 10320],
 [51, 1, 12321],
 [55, 1, 10555],
 [51, 8, 14939],
 [35, 2, 15432],
 [47, 9, 11386],
 [32, 7, 14763],
 [44, 6, 16854],
 [51, 1, 17637],
 [55, 1, 14841],
 [50, 2, 13867],
 [41, 6, 13793],
 [32, 6, 17373],
 [47, 2, 12513],
 [59, 1, 13803],
 [34, 5, 12327],
 [22, 5, 18809],
 [46, 2, 12165],
 [21, 6, 13308],
 [27, 9, 16452],
 [34, 2, 18067],
 [27, 2, 17642],
 [34, 3, 16404],
 [37, 7, 10992],
 [41, 6, 15424],
 [22, 8, 19569],
 [51, 8, 14381],
 [23, 6, 13174],
 [19, 3, 14782],
 [30, 3, 19497],
 [60, 1, 15560],
 [60, 7, 17460],
 [28, 5, 13078],
 [64, 4, 12983],
 [40, 4, 17259],
 [33, 4, 16054],
 [48, 6, 12523],
 [28, 8, 19677],
 [33, 8, 14581],
 [25, 5, 15609],
 [21, 6, 12001],
 [57, 4, 11387],
 [21, 9, 16552],
 [42, 8, 11030],
 [20, 1, 19957],
 [49, 2, 11220],
 [20, 9, 16035],
 [44, 8, 19810],
 [46, 3, 19455],
 [49, 8, 16523],
 [36, 1, 18074],
 [38, 4, 19063],
 [22, 3, 10834],
 [35, 6, 19110],
 [45, 7, 11724],
 [59, 4, 16598],
 [39, 7, 12413],
 [38, 9, 19505],
 [23, 2, 15993],
 [18, 3, 14498],
 [22, 5, 12105],
 [58, 3, 12568],
 [29, 8, 19330],
 [43, 8, 10209],
 [63, 8, 19256],
 [51, 9, 14911],
 [31, 4, 12220],
 [43, 5, 10233],
 [62, 5, 10792],
 [44, 8, 13110],
 [26, 7, 12166],
 [43, 9, 18526],
 [64, 8, 19551],
 [39, 2, 15193],
 [64, 4, 11214],
 [47, 6, 14419],
 [60, 2, 17314],
 [34, 7, 18475],
 [43, 3, 10212],
 [53, 3, 11658],
 [18, 2, 15024],
 [25, 8, 19609],
 [52, 6, 15917],
 [32, 1, 15141],
 [64, 1, 11794],
 [39, 7, 15988],
 [31, 8, 18296],
 [43, 5, 15578],
 [45, 5, 15551],
 [40, 4, 13845],
 [31, 6, 16906],
 [41, 6, 10378],
 [19, 3, 13293],
 [62, 9, 13329],
 [43, 7, 14808],
 [31, 1, 17937],
 [24, 7, 10224],
 [20, 5, 10737],
 [64, 5, 10235],
 [40, 2, 10711],
 [63, 4, 15988],
 [60, 6, 11888],
 [64, 7, 17173],
 [62, 5, 11259],
 [35, 9, 15246],
 [55, 3, 17271],
 [52, 1, 10748],
 [32, 4, 13551],
 [42, 9, 16400],
 [54, 4, 16643],
 [45, 2, 18701],
 [27, 5, 11823],
 [56, 3, 16852],
 [34, 9, 17777],
 [56, 4, 14232],
 [39, 6, 16519],
 [43, 2, 11777],
 [61, 6, 11222],
 [42, 3, 17630],
 [34, 9, 11777],
 [30, 2, 19496],
 [37, 9, 17490],
 [42, 5, 14859],
 [21, 8, 18893],
 [27, 2, 18118],
 [20, 6, 12989],
 [58, 3, 18343],
 [62, 5, 11325],
 [35, 8, 19493],
 [64, 1, 19903],
 [53, 5, 15127],
 [64, 3, 18998],
 [39, 4, 12722],
 [51, 2, 14656],
 [64, 9, 11325],
 [25, 3, 14133],
 [57, 2, 19351],
 [61, 9, 12869],
 [36, 7, 11242],
 [59, 6, 18539],
 [58, 1, 11831],
 [54, 5, 11569],
 [23, 3, 17246],
 [43, 1, 11918],
 [51, 4, 16416],
 [62, 2, 13232],
 [23, 2, 13758],
 [54, 3, 15997],
 [50, 8, 12355],
 [39, 8, 19589],
 [38, 7, 11824],
 [23, 6, 17280],
 [23, 9, 14060],
 [21, 4, 15324],
 [47, 1, 10404],
 [28, 8, 11721],
 [47, 7, 15316],
 [48, 7, 13845],
 [41, 3, 14210],
 [26, 4, 10064],
 [20, 9, 19491],
 [48, 6, 16382],
 [57, 5, 19607],
 [54, 3, 10968],
 [53, 9, 10368],
 [41, 5, 18424],
 [48, 5, 12242],
 [23, 4, 15002],
 [19, 4, 13083],
 [37, 1, 18073],
 [45, 7, 19112],
 [28, 9, 18880],
 [21, 3, 11469],
 [32, 2, 14725],
 [23, 3, 14259],
 [47, 1, 13622],
 [55, 6, 10823],
 [19, 7, 13431],
 [32, 2, 16528],
 [28, 8, 14151],
 [25, 6, 14213],
 [43, 4, 17420],
 [62, 5, 18989],
 [61, 8, 10779],
 [22, 3, 12892],
 [23, 3, 15534],
 [43, 4, 13306],
 [21, 1, 12902],
 [36, 9, 13718],
 [37, 8, 10021],
 [50, 8, 11500],
 [37, 6, 19034],
 [29, 7, 19952],
 [64, 6, 13641],
 [18, 9, 15212],
 [43, 3, 10191],
 [31, 3, 18587],
 [55, 3, 17174],
 [54, 3, 15114],
 [28, 9, 14662],
 [53, 4, 14326],
 [30, 7, 19065],
 [60, 9, 14335],
 [20, 7, 18281],
 [50, 9, 18648],
 [23, 3, 19196],
 [27, 4, 15494],
 [22, 8, 18536],
 [40, 6, 12711],
 [27, 5, 17595],
 [61, 4, 16273],
 [19, 8, 16284]]

In [12]:
clf= tree.DecisionTreeClassifier()
clf = clf.fit(X,Y)

In [13]:
print(clf.predict(Test))
print(ds2.loc[:,["indebt"]].values.tolist())

[ True False  True False False False  True  True  True False]
[[True], [False], [True], [False], [False], [False], [True], [True], [True], [False]]